@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap");

// VARS
$font-overpass: "Overpass",
sans-serif;
//
$color-purple-dark: #261859;
$color-purple-mid: #674ebf;
$color-yellow-mid: #f2bf5e;
$color-orange-mid: #f29d52;
$color-orange-dark: #f26d3d;
//
$color-green-easy-line: #6ab04c;
$color-green-easy-fill: #badc58;
$color-red-hard-line: #e74c3c;
$color-red-hard-fill: #ff7979;
$color-overage-black-fill: #2f3542;
//
$color-bg: #fff;
$color-diags: rgba($color-yellow-mid, 0.5);
//
$EASY: "easy";
$DEFAULT: "default";
$HARD: "hard";

// MIXINS
@mixin flex($align: center, $justify: center, $gap: normal, $flow: row nowrap, $display: flex) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $flow;
    gap: $gap;
}

@mixin grid($gap: 0, $grid: auto / auto, $display: grid) {
    display: $display;
    grid: $grid;
    gap: $gap;
}

@mixin cleanList($padding: 0, $margin: 0, $listStyle: none) {
    padding: $padding;
    margin: $margin;
    list-style: $listStyle;
}

@mixin squareSize($length: auto) {
    width: $length;
    height: $length;
}

// PLACEHOLDERS
%font-family-overpass {
    font-family: $font-overpass;
}

// MARKUP
:root {
    font-size: 20px;
}

html {
    background-color: $color-bg;
    background-image: repeating-linear-gradient(45deg, $color-diags 0, $color-diags 0.5px, $color-bg 0, $color-bg 50%);
    background-size: 16px 16px;

    body {
        padding: 0;
        margin: 0;

        * {
            @extend %font-family-overpass;
        }

        section *:not(:is(input, select)) {
            color: $color-purple-dark;
        }
    }
}

header {
    padding: 2rem 2rem 4rem;

    border-bottom: 0.5rem $color-orange-mid solid;

    background-color: $color-purple-dark;

    & > * {
        color: #fff;
    }

    h1 {
        margin: 0 0 0.25rem;

        font-weight: 800;
        font-size: 2.5rem;
    }

    h2 {
        margin: 0;

        font-weight: 500;
        font-size: 1.25rem;
    }
}

#CalculatorSection {
    padding: 2rem;
}

.calc {
    * {
        outline-color: $color-orange-dark;
    }

    hr {
        margin: 1.5rem 0;

        border-style: solid;
        border-color: $color-orange-mid;

        opacity: 0.5;
    }

    &_upper {
        @include flex(center, center, 1rem 2rem, row wrap);

        &_player-info,
        &_difficulty,
        &_total {
            @include flex(center, flex-start, 0.75rem);

            label,
            .upper-label {
                margin-top: 5px;

                font-weight: 600;
                font-size: 1.25rem;
                white-space: nowrap;
            }

            input {
                padding: 6px 3px 3px;

                font-weight: 700;
                font-size: 1.5rem;
                text-align: center;
            }

            select {
                padding: 6px 3px 3px;

                font-weight: 600;
                font-size: 1.5rem;
            }
        }

        &_total {
            &_text {
                @include flex($gap: 0.6rem);

                &_slash {
                    margin-top: 2px;

                    font-size: 2rem;
                }

                &_number {
                    min-width: 2.6rem;
                    margin-top: 6px;
                    overflow: hidden;

                    font-size: 2rem;
                    text-overflow: ellipsis;

                    &:first-of-type {
                        font-weight: 700;
                        text-align: right;
                    }

                    &:last-of-type {
                        font-weight: 600;
                        text-align: left;
                    }
                }

                #spentBPs {
                    color: var(--current-difficulty-color);


                    & {
                        --current-difficulty-color: #{$color-purple-mid};

                    }

                    &[data-spent-total-compare^="-"] {
                        --current-difficulty-color: #{$color-red-hard-line};

                    }

                    &[data-spent-total-compare="0"] {
                        &[data-current-difficulty="#{$EASY}"] {

                            --current-difficulty-color: #{$color-orange-dark}; //#{$color-yellow-mid};

                        }

                        &[data-current-difficulty="#{$DEFAULT}"] {

                            --current-difficulty-color: #{$color-orange-dark}; //#{$color-orange-mid};

                        }

                        &[data-current-difficulty="#{$HARD}"] {

                            --current-difficulty-color: #{$color-orange-dark}; //#{$color-orange-dark};

                        }
                    }
                }

                // #totalBPs {}
            }
        }
    }

    &_bp-info {
        &_list {
            --tick-width: 5rem;
            //
            @include cleanList;
            @include grid(0.7rem, auto-flow 1fr / repeat(auto-fit, minmax(var(--tick-width), 1fr)));

            &_tick {
                height: 1.25rem;
                min-width: var(--tick-width);

                border: 3px solid currentColor;
                border-radius: 4px;

                background-color: #fff;

                &.bp {
                    &-tick {
                        color: $color-purple-mid;

                        &[data-is-ticked="true"] {
                            border-color: transparent;

                            background-color: currentColor;
                        }
                    }

                    // &-level {
                    //     border-width: 3px;
                    //
                    //     &[data-is-ticked="true"] {
                    //         margin: 1px;
                    //         border-width: 2px;
                    //     }
                    // }

                    &-easy {
                        color: $color-orange-dark; //$color-yellow-mid;
                    }

                    &-default {
                        color: $color-orange-dark; //$color-orange-mid;
                    }

                    &-hard {
                        color: $color-orange-dark; //$color-orange-dark;
                    }

                    &-overage {
                        position: relative;

                        color: transparent;

                        background-color: transparent;

                        @include flex;

                        &[data-is-ticked="true"] {
                            border-color: $color-red-hard-line;

                            opacity: 0.8;
                            background: repeating-linear-gradient(-45deg, $color-red-hard-line, $color-red-hard-line 5px, $color-red-hard-fill 5px, $color-red-hard-fill 15px);
                            background-color: $color-red-hard-fill;
                        }

                        // &::after {
                        //     content: "";
                        //     border-radius: 50%;
                        //     background-color: $color-red-hard-line;
                        //     @include squareSize(1rem);
                        // }
                    }
                }
            }
        }
    }

    &_lower {
        @include flex(flex-start, center, 1rem 7rem, row-reverse wrap);

        &_left,
        &_right {
            h3 {
                margin: 0 0 0.75rem;

                font-weight: 600;
                font-size: 1.75rem;
                text-align: center;
            }
        }

        &_left {
            &_list {
                @include cleanList;

                &_adversary {
                    margin-bottom: 0.5rem;

                    @include flex(center, flex-start, 1rem);

                    label,
                    input {
                        font-size: 1.5rem;
                    }

                    label {
                        position: relative;

                        width: 11rem;
                        padding-top: 3px;

                        font-weight: 400;
                        text-transform: capitalize;

                        @include flex(center, flex-start, 0.5rem);

                        .adv-name {
                            flex-grow: 1;
                        }

                        .adv-bp {
                            width: 2rem;

                            font-weight: 400;
                            font-size: 0.75rem;
                            white-space: nowrap;

                            &,
                            * {
                                color: $color-orange-dark;
                            }

                            strong {
                                font-weight: 800;
                            }
                        }

                        &::after {
                            content: "\00D7"; // ×

                            height: 100%;
                            padding-top: 3px;

                            color: $color-purple-dark;
                        }

                        &[for="adversary_minions"] {
                            &::before {
                                content: "group up to # of PCs";

                                position: absolute;
                                bottom: -0.55rem;
                                left: 1.25rem;

                                font-size: 0.75rem;
                                text-transform: none;

                                opacity: 0.5;
                            }
                        }
                    }

                    input {
                        width: 3rem;
                        padding: 6px 5px 2px;
                    }
                }
            }
        }

        &_right {
            &_formula,
            &_adjustments,
            &_options {
                &:not(:last-of-type) {
                    margin-bottom: 3rem;
                }

                &_list {
                    font-size: 1.25rem;

                    @include cleanList;
                    @include flex(center, flex-start, 1rem, column nowrap);

                    & {
                        --adjustment-color: #{$color-orange-dark}; //#{$color-purple-mid};

                    }

                    li {
                        position: relative;

                        width: auto;

                        line-height: 1.1;
                        text-align: center;

                        opacity: var(--opacity-off);

                        --opacity-off: 0.25;

                        .adjustment-text {
                            position: absolute;
                            left: calc(100% + 0.75rem);

                            opacity: 0;

                            &,
                            &-static {
                                color: var(--adjustment-color);
                                font-weight: 700;
                                white-space: nowrap;
                            }
                        }

                        &[data-is-active="true"],
                        &[data-is-always-active] {
                            &,
                            .adjustment-text {
                                opacity: 1;
                            }
                        }

                        &#frm-formula {
                            #frm-pcs {
                                display: inline-block;

                                min-width: 0.8rem;

                                color: var(--adjustment-color);
                                font-weight: 600;
                            }
                        }

                        &:not(#frm-formula) {
                            @include flex(center, flex-start);
                        }

                        &#adj-difficulty {
                            opacity: 1;

                            &[data-current-difficulty="#{$DEFAULT}"] {

                                opacity: var(--opacity-off);
                            }

                            &[data-current-difficulty="#{$EASY}"] .adjustment-text.adj-easy,

                            &[data-current-difficulty="#{$HARD}"] .adjustment-text.adj-hard {

                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
