@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap");
html body * {
  font-family: "Overpass", sans-serif; }

:root {
  font-size: 20px; }

html {
  background-color: #fff;
  background-image: repeating-linear-gradient(45deg, rgba(242, 191, 94, 0.5) 0, rgba(242, 191, 94, 0.5) 0.5px, #fff 0, #fff 50%);
  background-size: 16px 16px; }
  html body {
    padding: 0;
    margin: 0; }
    html body section *:not(:is(input, select)) {
      color: #261859; }

header {
  padding: 2rem 2rem 4rem;
  border-bottom: 0.5rem #f29d52 solid;
  background-color: #261859; }
  header > * {
    color: #fff; }
  header h1 {
    margin: 0 0 0.25rem;
    font-weight: 800;
    font-size: 2.5rem; }
  header h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem; }

#CalculatorSection {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto; }

.calc * {
  outline-color: #f26d3d; }

.calc hr {
  margin: 1.5rem 0;
  border-style: solid;
  border-color: #f29d52;
  opacity: 0.5; }

.calc_upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem 2rem; }
  .calc_upper_player-info, .calc_upper_difficulty, .calc_upper_total {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    gap: 0.75rem; }
    .calc_upper_player-info label,
    .calc_upper_player-info .upper-label, .calc_upper_difficulty label,
    .calc_upper_difficulty .upper-label, .calc_upper_total label,
    .calc_upper_total .upper-label {
      margin-top: 5px;
      font-weight: 600;
      font-size: 1.25rem;
      white-space: nowrap; }
    .calc_upper_player-info input, .calc_upper_difficulty input, .calc_upper_total input {
      padding: 6px 3px 3px;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center; }
    .calc_upper_player-info select, .calc_upper_difficulty select, .calc_upper_total select {
      padding: 6px 3px 3px;
      font-weight: 600;
      font-size: 1.5rem; }
  .calc_upper_total_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 0.6rem; }
    .calc_upper_total_text_slash {
      margin-top: 2px;
      font-size: 2rem; }
    .calc_upper_total_text_number {
      min-width: 2.6rem;
      margin-top: 6px;
      overflow: hidden;
      font-size: 2rem;
      text-overflow: ellipsis; }
      .calc_upper_total_text_number:first-of-type {
        font-weight: 700;
        text-align: right; }
      .calc_upper_total_text_number:last-of-type {
        font-weight: 600;
        text-align: left; }
    .calc_upper_total_text #spentBPs {
      color: var(--current-difficulty-color); }
      .calc_upper_total_text #spentBPs {
        --current-difficulty-color: #674ebf; }
      .calc_upper_total_text #spentBPs[data-spent-total-compare^="-"] {
        --current-difficulty-color: #e74c3c; }
      .calc_upper_total_text #spentBPs[data-spent-total-compare="0"][data-current-difficulty="easy"] {
        --current-difficulty-color: #f26d3d; }
      .calc_upper_total_text #spentBPs[data-spent-total-compare="0"][data-current-difficulty="default"] {
        --current-difficulty-color: #f26d3d; }
      .calc_upper_total_text #spentBPs[data-spent-total-compare="0"][data-current-difficulty="hard"] {
        --current-difficulty-color: #f26d3d; }

.calc_bp-info_list {
  --tick-width: 5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid: auto-flow 1fr/repeat(auto-fit, minmax(var(--tick-width), 1fr));
  gap: 0.7rem; }
  .calc_bp-info_list_tick {
    height: 1.25rem;
    min-width: var(--tick-width);
    border: 3px solid currentColor;
    border-radius: 4px;
    background-color: #fff; }
    .calc_bp-info_list_tick.bp-tick {
      color: #674ebf; }
      .calc_bp-info_list_tick.bp-tick[data-is-ticked="true"] {
        border-color: transparent;
        background-color: currentColor; }
    .calc_bp-info_list_tick.bp-easy {
      color: #f26d3d; }
    .calc_bp-info_list_tick.bp-default {
      color: #f26d3d; }
    .calc_bp-info_list_tick.bp-hard {
      color: #f26d3d; }
    .calc_bp-info_list_tick.bp-overage {
      position: relative;
      color: transparent;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      gap: normal; }
      .calc_bp-info_list_tick.bp-overage[data-is-ticked="true"] {
        border-color: #e74c3c;
        opacity: 0.8;
        background: repeating-linear-gradient(-45deg, #e74c3c, #e74c3c 5px, #ff7979 5px, #ff7979 15px);
        background-color: #ff7979; }

.calc_lower {
  --gap-margin: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row-reverse wrap;
  gap: var(--gap-margin) 7rem; }
  .calc_lower_left h3, .calc_lower_right h3 {
    margin: 0 0 0.75rem;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center; }
  .calc_lower_left_list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .calc_lower_left_list_adversary {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row nowrap;
      gap: 1rem; }
      .calc_lower_left_list_adversary label,
      .calc_lower_left_list_adversary input {
        font-size: 1.5rem; }
      .calc_lower_left_list_adversary label {
        position: relative;
        width: 11rem;
        padding-top: 3px;
        font-weight: 400;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        gap: 0.5rem; }
        .calc_lower_left_list_adversary label .adv-name {
          flex-grow: 1; }
        .calc_lower_left_list_adversary label .adv-bp {
          width: 2rem;
          font-weight: 400;
          font-size: 0.75rem;
          white-space: nowrap; }
          .calc_lower_left_list_adversary label .adv-bp,
          .calc_lower_left_list_adversary label .adv-bp * {
            color: #f26d3d; }
          .calc_lower_left_list_adversary label .adv-bp strong {
            font-weight: 800; }
        .calc_lower_left_list_adversary label::after {
          content: "\00D7";
          height: 100%;
          padding-top: 3px;
          color: #261859; }
        .calc_lower_left_list_adversary label[for="adversary_minions"]::before {
          content: "group up to # of PCs";
          position: absolute;
          bottom: -0.55rem;
          left: 1.25rem;
          font-size: 0.75rem;
          text-transform: none;
          opacity: 0.5; }
      .calc_lower_left_list_adversary input {
        width: 3rem;
        padding: 6px 5px 2px; }
  .calc_lower_right_formula:not(:last-of-type), .calc_lower_right_adjustments:not(:last-of-type), .calc_lower_right_options:not(:last-of-type) {
    margin-bottom: var(--gap-margin); }
  .calc_lower_right_formula_list, .calc_lower_right_adjustments_list, .calc_lower_right_options_list {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 1rem; }
    .calc_lower_right_formula_list, .calc_lower_right_adjustments_list, .calc_lower_right_options_list {
      --adjustment-color: #f26d3d; }
    .calc_lower_right_formula_list li, .calc_lower_right_adjustments_list li, .calc_lower_right_options_list li {
      position: relative;
      width: auto;
      line-height: 1.1;
      text-align: center;
      opacity: var(--opacity-off);
      --opacity-off: 0.25; }
      .calc_lower_right_formula_list li .adjustment-text, .calc_lower_right_adjustments_list li .adjustment-text, .calc_lower_right_options_list li .adjustment-text {
        position: absolute;
        left: calc(100% + 0.75rem);
        opacity: 0; }
        .calc_lower_right_formula_list li .adjustment-text, .calc_lower_right_formula_list li .adjustment-text-static, .calc_lower_right_adjustments_list li .adjustment-text, .calc_lower_right_adjustments_list li .adjustment-text-static, .calc_lower_right_options_list li .adjustment-text, .calc_lower_right_options_list li .adjustment-text-static {
          color: var(--adjustment-color);
          font-weight: 700;
          white-space: nowrap; }
      .calc_lower_right_formula_list li[data-is-active="true"],
      .calc_lower_right_formula_list li[data-is-active="true"] .adjustment-text, .calc_lower_right_formula_list li[data-is-always-active],
      .calc_lower_right_formula_list li[data-is-always-active] .adjustment-text, .calc_lower_right_adjustments_list li[data-is-active="true"],
      .calc_lower_right_adjustments_list li[data-is-active="true"] .adjustment-text, .calc_lower_right_adjustments_list li[data-is-always-active],
      .calc_lower_right_adjustments_list li[data-is-always-active] .adjustment-text, .calc_lower_right_options_list li[data-is-active="true"],
      .calc_lower_right_options_list li[data-is-active="true"] .adjustment-text, .calc_lower_right_options_list li[data-is-always-active],
      .calc_lower_right_options_list li[data-is-always-active] .adjustment-text {
        opacity: 1; }
      .calc_lower_right_formula_list li#frm-formula #frm-pcs, .calc_lower_right_adjustments_list li#frm-formula #frm-pcs, .calc_lower_right_options_list li#frm-formula #frm-pcs {
        display: inline-block;
        min-width: 0.8rem;
        color: var(--adjustment-color);
        font-weight: 600; }
      .calc_lower_right_formula_list li:not(#frm-formula), .calc_lower_right_adjustments_list li:not(#frm-formula), .calc_lower_right_options_list li:not(#frm-formula) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        gap: normal; }
      .calc_lower_right_formula_list li#adj-difficulty, .calc_lower_right_adjustments_list li#adj-difficulty, .calc_lower_right_options_list li#adj-difficulty {
        opacity: 1; }
        .calc_lower_right_formula_list li#adj-difficulty[data-current-difficulty="default"], .calc_lower_right_adjustments_list li#adj-difficulty[data-current-difficulty="default"], .calc_lower_right_options_list li#adj-difficulty[data-current-difficulty="default"] {
          opacity: var(--opacity-off); }
        .calc_lower_right_formula_list li#adj-difficulty[data-current-difficulty="easy"] .adjustment-text.adj-easy,
        .calc_lower_right_formula_list li#adj-difficulty[data-current-difficulty="hard"] .adjustment-text.adj-hard, .calc_lower_right_adjustments_list li#adj-difficulty[data-current-difficulty="easy"] .adjustment-text.adj-easy,
        .calc_lower_right_adjustments_list li#adj-difficulty[data-current-difficulty="hard"] .adjustment-text.adj-hard, .calc_lower_right_options_list li#adj-difficulty[data-current-difficulty="easy"] .adjustment-text.adj-easy,
        .calc_lower_right_options_list li#adj-difficulty[data-current-difficulty="hard"] .adjustment-text.adj-hard {
          opacity: 1; }
