:root {
  // grid spacing
  --gap-margin-col: 3rem;
  --gap-margin-row: 1.5rem;

  // BP ticks
  --tick-height: 1.25rem;
  --tick-minwidth: 2.75rem;
  --tick-transition-duration: .2s;

  // transition
  --short-time: 0.15s;

  // sizing
  --right-col-item-padding: 0.345rem 1rem;
}