@use "../assets/tools/utilities" as utils;

@use "../assets/tools/compiles/fonts";

:root {
    font-size: 20px;
}

html {
    background-color: utils.$color-bg;
    background-image: repeating-linear-gradient(45deg, utils.$color-diags 0, utils.$color-diags 0.5px, utils.$color-bg 0, utils.$color-bg 50%);
    background-size: 16px 16px;

    body {
        width: 100%;
        min-height: 100vh;
        padding: 0;
        margin: 0;

        #app {
            width: 100%;
            min-height: 100vh;

            @include utils.flex(stretch, flex-start, 0, column nowrap);
        }

        *:not(input) {
            font-family: utils.$font-overpass;
        }
        input {
            font-family: utils.$font-opensans;
        }

        section *:not(:is(input, select)) {
            color: utils.$color-purple-dark;
        }
    }
}
