@use "../assets/tools/utilities" as utils;

#BattlePointSDisplay_Wrapper {
  .calc_bp-info {
    &_wrapper {
      min-height: 3rem;

      &_list {
        width: 100%;

        --local-list-cols: 9;
        --local-list-gap: 0.5rem 0.65rem;

        @include utils.cleanList;
        @include utils.grid(var(--local-list-gap), auto-flow var(--tick-height) / repeat(var(--local-list-cols), 1fr));

        // &--fullWidth {
        //     --local-list-cols: auto-fit, minmax(var(--tick-minwidth));
        // }
      }
    }

    &_total {
      margin-top: 1.25rem;

      @include utils.flex(center, center, 0.5rem);

      .span-label {
        @extend %label-common;
      }

      &_text {
        @include utils.flex($gap: 0.6rem);

        &_slash {
          margin-top: 2px;

          font-size: 2rem;
        }

        &_number {
          min-width: 2.6rem;
          margin-top: 6px;
          overflow: hidden;

          font-size: 2rem;
          text-overflow: ellipsis;

          &:first-of-type {
            font-weight: 700;
            text-align: right;
          }

          &:last-of-type {
            font-weight: 600;
            text-align: left;
          }
        }

        #spentBPs {
          color: var(--local-current-difficulty-color);

          transition: color var(--short-time) ease;

          & {
            --local-current-difficulty-color: #{utils.$color-purple-mid};
          }

          &[data-spent-total-compare="-1"] {
            --local-current-difficulty-color: #{utils.$color-red-hard-line};
          }

          &[data-spent-total-compare="0"] {
            &[data-current-difficulty="#{utils.$EASY}"] {
              --local-current-difficulty-color: #{utils.$color-orange-dark};
            }

            &[data-current-difficulty="#{utils.$DEFAULT}"] {
              --local-current-difficulty-color: #{utils.$color-orange-dark};
            }

            &[data-current-difficulty="#{utils.$HARD}"] {
              --local-current-difficulty-color: #{utils.$color-orange-dark};
            }
          }
        }

        #totalBPs {
            color: utils.$color-orange-dark;
        }
      }
    }
  }
}
