@use "../assets/tools/utilities" as utils;

#Formula_Wrapper {
    #FormulaList {
        #frm-formula {
            padding: 0.3rem 1rem;

            font-family: utils.$font-overpass;
            line-height: initial;

            @extend %ph-box-common-transition;
            @extend %ph-box-wrapper-common;
            //
            @include utils.flex;

            .formula_list_item_wrapper {
                margin-top: 3px; // font-style adjustment

                & > span {
                    display: inline-block;
                }

                #frm-pcs {
                    min-width: 17px;

                    // color: utils.$color-purple-mid;
                    font-weight: 700;
                    text-align: center;
                }

                #frm-total {
                    min-width: 32px;
                }
            }
        }
    }
}
