@use "../assets/tools/utilities" as utils;

#Formula_Wrapper {
    #FormulaList {
        #frm-formula {
            padding: 0.3rem 1rem;

            font-family: utils.$font-overpass;
            line-height: initial;

            @extend %ph-box-common-transition;
            @extend %ph-box-wrapper-common;
            //
            @include utils.flex;

            .formula_list_item_wrapper {
                margin-top: 3px; // font-style adjustment

                #frm-pcs {
                    display: inline-block;

                    min-width: 0.8rem;

                    color: var(--adjustment-color);
                    font-weight: 600;
                }
            }
        }
    }
}
