@use "sass:color";
@use "../assets/tools/utilities" as utils;

// VARS
$local-color-lighter-orange: color.adjust(utils.$color-orange-mid, $lightness: 30%);
$local-color-bg-box: #fff;

// PLACEHOLDER
%local-common-box {
    transition: 0.25s ease;
    transition-property: background-color, border-right-color;

    @extend %ph-wrapper-box-common;
}

// STYLES
.monster-list_item {
    position: relative;

    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;

    border-radius: utils.$border-radius-box;

    @extend %local-common-box;
    //
    @include utils.flex(center, center, 1rem);

    &:is(:hover, :focus-within) {
        &,
        .adv-multi-edge .edge-item {
            background-color: $local-color-lighter-orange;
        }

        .adv-multi-edge .edge-item {
            border-right-color: $local-color-lighter-orange;
        }
    }

    label,
    input {
        font-size: 1.25rem;
    }

    label {
        position: relative;

        width: 11rem;
        padding-top: 3px;

        font-weight: 400;
        text-transform: capitalize;

        @include utils.flex(center, flex-start, 0.5rem);

        &::after {
            content: "\00D7"; // ×

            height: 100%;
            padding-top: 3px;

            color: utils.$color-purple-dark;
        }

        .adv-name {
            flex-grow: 1;
        }

        .adv-bp {
            width: 2rem;

            font-weight: 400;
            font-size: 0.75rem;
            white-space: nowrap;

            &,
            * {
                color: utils.$color-orange-dark;
            }

            strong {
                margin-right: 3px;

                font-weight: 800;
            }
        }

        .adv-minions-message {
            position: absolute;
            bottom: -0.2rem;
            left: 1.5rem;

            font-size: 0.6rem;
            font-family: utils.$font-opensans;
            text-transform: none;

            opacity: 0.55;
        }

        &[for="adversary_minions"] {
            padding-top: 0;

            .adv-name {
                margin-top: -0.1rem;
            }
        }
    }

    .adv-multi-edge {
        position: absolute;
        top: 0;
        right: calc(100% + 1px);
        z-index: -1;

        height: calc(100% - 1px);

        @include utils.cleanList;
        @include utils.flex(flex-end, stretch, 0, row-reverse);

        .edge-item {
            width: 8px;
            height: inherit;

            border-right: 3px solid $local-color-bg-box;
            border-radius: utils.$border-radius-box 0 0 utils.$border-radius-box;

            @extend %local-common-box;
        }
    }

    input {
        width: 3rem;
        padding: 2px 5px 4px;

        border: none;

        background-color: transparent;
    }
}
