@use "../assets/tools/utilities" as utils;

.option {
    padding: var(--right-col-item-padding);

    white-space: normal;

    @extend %ph-box-wrapper-common;
    //
    @include utils.grid(0.75rem, auto / auto 1fr);

    &,
    & > * {
        @extend %ph-box-common-transition;
    }

    &_text,
    &_toggle {
        @include utils.flex;
    }

    &_text {
        justify-self: flex-start;

        @extend %ph-box-open-sans;
    }

    &_toggle {
        cursor: pointer;

        justify-self: flex-end;

        height: 100%;
        aspect-ratio: 1 / 1;
        padding: calc(var(--button-padding) + 3px) var(--button-padding) var(--button-padding);
        margin-right: -0.5rem;

        font-weight: 600;
        font-size: 1rem;

        border: 1px solid utils.$color-purple-dark;
        border-radius: utils.$border-radius-box;

        opacity: 1 !important;
        background: utils.$color-bg-box;

        --button-padding: 5px;
        //
        @extend %ph-box-common-transition;

        &:is(:hover, :focus-visible) {
            background-color: utils.$color-purple-mid-lighter;
        }

        &_text {
            padding-top: 3px; // offset fix

            opacity: 0.25;

            @extend %ph-box-common-transition;
        }
    }

    &:not([data-is-active="true"]) {
        &:is(:hover, :focus, :focus-within) {
            background-color: utils.$color-bg-box !important;
        }
    }

    &[data-is-active="true"] {
        .option_toggle_text {
            color: utils.$color-orange-dark;

            opacity: 1;
        }
    }
}
