@use "../assets/tools/utilities" as utils;

header {
    padding: 2rem;

    border-width: 0 0 0.5rem;

    @extend %ph-header-footer-common;

    h1,
    h2 {
        max-width: utils.$size-page-width;

        text-align: center;
    }

    h1 {
        margin: 0 auto 0.25rem;

        font-weight: 00;
        font-size: 2.5rem;
        font-family: utils.$font-montserrat;
        text-transform: uppercase;
    }

    h2 {
        margin: 0 auto;

        font-weight: 500;
        font-size: 1.25rem;
        text-transform: lowercase;
    }
}