@use "../assets/tools/utilities.scss" as utils;

footer {
    padding: 1rem 3rem;

    border-width: 0.5rem 0 0;

    --footer-fmtext-offset: 2px;
    --footer-gap: 0.75rem;
    --footer-padding-offset: 3px;
    --footer-underline-offset: 2px;
    --footer-underline-offset-adjust: calc(var(--footer-underline-offset) + var(--footer-fmtext-offset));
    //
    @extend %header-footer-common;
    //
    @include utils.respond-to-mobile {
        padding-top: calc(1rem + var(--footer-padding-offset));
    }

    .footer-list {
        font-size: 0.9rem;

        @include utils.cleanList;
        @include utils.flex($gap: var(--footer-gap));
        //
        @include utils.respond-to-mobile {
            align-items: center;
            justify-content: flex-start;
            flex-flow: column nowrap;
            gap: 0.25rem;
        }

        li {
            padding-top: var(--footer-padding-offset);

            white-space: nowrap;

            @include utils.flex;
            //
            @include utils.respond-to-mobile {
                &:nth-of-type(2) {
                    margin-top: var(--footer-padding-offset);
                }
            }

            & + li {
                &::before {
                    content: "\2022"; // •

                    margin-right: var(--footer-gap);

                    @include utils.respond-to-mobile {
                        content: none;
                    }
                }
            }

            a {
                color: utils.$theme-color-secondary;
                text-decoration: underline;
                text-underline-offset: var(--footer-underline-offset);

                &:is(:hover, :focus) {
                    text-decoration: none;
                }

                &.fm-text {
                    span {
                        display: inline-block;

                        text-decoration: underline;
                        text-underline-offset: var(--footer-underline-offset-adjust);

                        transform: translateY(calc(-1 * var(--footer-underline-offset)));
                    }

                    &:is(:hover, :focus) {
                        &,
                        span {
                            text-decoration: none;
                        }
                    }
                }

                // &.kofi-text {}
            }

            img {
                width: auto;
                height: 1.5rem;

                transform: translateY(calc(-1 * var(--footer-padding-offset)));
            }
        }
    }
}
