@use "../assets/tools/utilities"as utils;

.calc_lower_right {
    .adjustments,
    .options {
        li {
            @extend %ph-box-modifier-change;
        }
    }

    .formula,
    .difficulty,
    .options,
    .adjustments {
        &:not(:last-of-type) {
            margin-bottom: var(--gap-margin-row);
        }

        &_list {
            font-size: 1.25rem;

            @include utils.cleanList;
            @include utils.flex(center, flex-start, 0.5rem, column nowrap);

            li {
                position: relative;

                line-height: 1.1;
                text-align: center;

                border-radius: utils.$border-radius-box;

                .adjustment-text {
                    position: absolute;
                    left: calc(100% + 0.75rem);

                    opacity: 0;

                    &,
                    &-static {
                        color: utils.$color-orange-dark;
                        font-weight: 700;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
