%ph-header-footer-common {
    border: $theme-color-secondary solid;

    background-color: $theme-color-primary;

    & > * {
        color: #fff;
    }
}

%label-common {
    margin-top: 5px;

    font-weight: 600;
    font-size: 1.25rem;
    white-space: nowrap;
}

%ph-calc-lower-common {
    h3 {
        margin: 0 0 0.75rem;

        font-weight: 700;
        font-size: 1.5rem;
        font-family: $font-montserrat;
        text-transform: uppercase;
        text-align: center;
    }
}

%ph-box-common-transition {
    transition: 0.25s ease;
    transition-property: background-color, border-color, opacity, color;
}

%ph-box-wrapper-common-borderless {
    width: 100%;
    min-height: 52px;
    box-sizing: border-box;

    white-space: nowrap;
}

%ph-box-wrapper-common {
    border: 1px solid $color-purple-dark;

    background-color: $color-bg-box;

    @extend %ph-box-wrapper-common-borderless;

    // &:is(:hover, :focus-within) {
    //     background-color: $color-orange-mid-lighter;
    // }
}

%ph-box-modifier-change {
    border-color: $color-border-on; // $color-border-off;

    & > * {
        opacity: $opacity-box-off;
    }

    &[data-is-active="true"],
    &[data-is-always-active] {
        border-color: $color-border-on;

        & > * {
            opacity: 1;
        }
    }
}
