// VARS
$font-overpass: "Overpass", sans-serif;
//
$color-purple-dark: #261859;
$color-purple-mid: #674ebf;
$color-yellow-mid: #f2bf5e;
$color-orange-mid: #f29d52;
$color-orange-dark: #f26d3d;
//
$color-green-easy-line: #6ab04c;
$color-green-easy-fill: #badc58;
$color-red-hard-line: #ea2027;
$color-red-hard-fill: #ff5e57;
$color-overage-black-fill: #2f3542;
//
$color-bg: #fff;
$color-interactive-gray: #eee;
$color-diags: rgba($color-yellow-mid, 0.5);
//
$theme-color-primary: $color-purple-dark;
$theme-color-secondary: $color-orange-mid;
//
$EASY: "easy";
$DEFAULT: "default";
$HARD: "hard";

// MIXINS
@mixin flex($align: center, $justify: center, $gap: normal, $flow: row nowrap, $display: flex) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $flow;
    gap: $gap;
}

@mixin grid($gap: 0, $grid: auto / auto, $display: grid) {
    display: $display;
    grid: $grid;
    gap: $gap;
}

@mixin cleanList($padding: 0, $margin: 0, $listStyle: none) {
    padding: $padding;
    margin: $margin;
    list-style: $listStyle;
}

@mixin squareSize($length: auto) {
    width: $length;
    height: $length;
}

// RESPONSIVE
@mixin respond-to-mobile {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

// PLACEHOLDERS
%header-footer-common {
    border: $theme-color-secondary solid;

    background-color: $theme-color-primary;

    & > * {
        color: #fff;
    }
}

%label-common {
    margin-top: 5px;

    font-weight: 600;
    font-size: 1.25rem;
    white-space: nowrap;
}

%calc-lower-common {
    h3 {
        margin: 0 0 0.75rem;

        font-weight: 600;
        font-size: 1.75rem;
        text-align: center;
    }
}
